html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  height: 64px;
}

header ul {
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

.logo span {
  font-weight: bold;
}

nav li {
  margin-left: 16px;
}

/* BANNER */

.banner {
  display: flex;
  background-color: lightgray;
}

.banner img {
  margin: 32px 24px;
  width: 60%;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
}

.cta h1 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
}

.cta h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.cta button {
  padding: 8px;
  background: dimgray;
  color: white;
}

/* INFORMATION */

.information {
  display: flex;
  justify-content: space-between;
}

.main {
  flex-basis: 60%;
}

.main img {
  padding: 32px 24px;
  width: 60%;
}

.features {
  flex-basis: 40%;
}

.feature {
  display: flex;
}

.feature img {
  height: auto;
  width: 35%;
}

.feature-info {
  display: flex;
  flex-direction: column;
}

/* FOOTER */

footer {
  padding: 16px 24px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
}
